.list {
  cursor: pointer;
  margin-bottom: 30px;
}

.list-img {
  width: 200px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.list-img:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
}


/* 태블릿 */
@media (max-width: 768px) {
}
/* 모바일 */
@media (max-width: 430px) {
}
