.list {
  cursor: pointer;
  margin-bottom: 30px;
}
.list:hover .list-info-hover {
  display: flex;
}

.list-info-hover {
  display: none;
}

.list:hover .list-info {
  display: none;
}

.list-img:hover .list-info-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: var(--white);
  background-color: rgba(117, 125, 232, 0.78); /* 투명한 배경색으로 수정 */
  border-radius: 50%;
}

.list-img:hover {
  z-index: 2;
}

.list {
  position: relative;
}

.list-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px -35px 20px 0 #00000093 inset;
  position: relative; 
}

.list-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 부모 요소 중앙 정렬 */
  color: white;
  z-index: 1; 
}

.list-info-hover {
  display: none;
}

.list:hover .list-info-hover {
  display: block; /* 호버 시 hover 클래스에 포함된 요소 보이기 */
}


/* 태블릿 */
@media (max-width: 768px) {
}
/* 모바일 */
@media (max-width: 430px) {
}
