.title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.events-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 2em;
}
.events-sub-title {
  font-size: 1em;
}
.events-card {
  width: 250px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  margin-right: 2em;
  cursor: pointer;
  transition: transform 0.5s;
}
.events-card:hover {
  transform: translateY(-15px);
  transition: transform 0.5s;
  z-index: 2;
}

.carousel-item-padding-40-px {
  margin: 3px;
}
.text-events{
    position: absolute;
    right: -5px;
    bottom: -15px;
    padding: 1em;
    width: 220px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .carousel-item-padding-40-px{
      margin: 3em;
    }
    .title {
      margin-bottom: 0;
    }
}