@charset "UTF-8";
.detailPageWrap {
  color: #333;
  padding: 15px 0 100px;
}
.detailPageWrap h2 {
  text-align: center;
  position: relative;
  width: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 500;
}
.detailPageWrap h2::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: #dedeff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.detailNav {
  display: flex;
  align-items: center;
  padding: 0;
  position: sticky;
  top: 94px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 10;
}
.detailNav li {
  list-style: none;
  text-align: center;
  flex: 1;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.detailNav li.shortMenu {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.detailNav li.shortMenu span:hover {
  color: #3f51b5;
}

.detailBannerItem {
  width: 100%;
  height: 627px;
  border-radius: 1rem;
}
.detailBannerItem .image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.detailBannerItem .image.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .detailBannerItem {
    height: 300px;
  }
}

.introWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.introWrap li {
  width: 50%;
  list-style: none;
}
.introWrap.info {
  border-top: 1px solid #ccc;
}
@media (max-width: 768px) {
  .introWrap li {
    width: 100%;
  }
}

.titleBox {
  text-align: center;
  padding: 10px;
  background: #fff;
  position: absolute;
  width: 200px;
  top: -10px;
  left: -10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.titleBox a {
  text-underline-position: under;
  color: #003f8f;
}

a {
  text-underline-position: under;
  color: #003f8f;
}

.weatherBanner {
  padding: 10px 0;
  width: 120px;
  display: block;
  position: fixed;
  top: 200px;
  right: 10px;
  border: 1px solid rgba(233, 233, 255, 0.8);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.weatherBanner .airStatus ul {
  padding: 0;
  margin: 0;
}
.weatherBanner .airStatus li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 13px;
  text-align: center;
}
.weatherBanner .airStatus li span {
  border-radius: 4px;
  width: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.weatherBanner .airStatus li span::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: block;
  background: #0c0cbe;
}
.weatherBanner .airStatus li span.good::before {
  background: #0c0cbe;
}
.weatherBanner .airStatus li span.normal::before {
  background: #0bc20b;
}
.weatherBanner .airStatus li span.bad::before {
  background: #da9f0c;
}
.weatherBanner .airStatus li span.tooBad::before {
  background: #d40606;
}

.areaBasedSlideWrap {
  height: 300px;
}
.areaBasedSlideWrap h3 {
  font-size: 24px;
  font-weight: 500;
}

.areaBasedSlider {
  height: 200px;
  margin-top: 20px;
}
.areaBasedSlider .image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
  background-position: center;
  cursor: pointer;
}
.areaBasedSlider .image::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
}
.areaBasedSlider .image h4 {
  color: #fff;
  font-weight: 600;
  z-index: 1;
  font-size: 16px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.areaBasedSlider .image p {
  color: #fff;
  z-index: 1;
  font-size: 12px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: right;
}
@media (max-width: 768px) {
  .areaBasedSlider {
    height: 180px;
  }
  .areaBasedSlider .image {
    padding: 20px 5px;
  }
}

pre {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
}

.shareItem {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}
.shareItem li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.kakaoLogo {
  width: 30px;
  height: 30px;
}

@page {
  size: A4;
  margin: 1cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
}
@media print {
  nav,
  .no-print {
    display: none; /* 네비게이션과 원치 않는 요소 숨기기 */
  }
}