.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100%;
}

.centered-content {
  text-align: center;
}

.centered-content img{
 margin: 40px;
}

.no-result img {
  height: 180px;
  width: 180px;
}

.no-result p {
  font-size: x-large;
}
