.main-weather-banner-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 5em;
  margin-bottom: 1.5em;
}

@media (max-width: 800px) {
  .main-weather-banner-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}
