.area-carousel-section {
  padding: 5rem;
  margin: 0;
  width: 100vw;
  background-color: #dedeff;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container:hover {
  cursor: pointer;
}

.image-container img {
  width: 18rem;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
}

.image-container span {
  position: absolute;
  bottom: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .image-container img {
    width: 15rem;
  }
}
