.event-card {
  cursor: pointer;
  margin-bottom: 30px;
}

.event-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  border-radius: 15px;
}

.event-card:hover {
  transform: scale(1.05) translateZ(20px);
  z-index: 2;
}

.event-info p{
  font-size:large;
  font-weight:500;
  margin-bottom:0;
}

/* 태블릿 */
@media (max-width: 768px) {
}
/* 모바일 */
@media (max-width: 430px) {
}
